* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

body > section:nth-of-type(even) {
    background-color: #e3f6fc;
}

h1 {
    color: #0f5274;
    font-size: 30px;
}

h2 {
    color: #0f5274;
    padding: 50px;
    font-size: 26px;
}

h1, h2 {
    font-family: 'Fira Sans', sans-serif;
}

p {
    font-size: 18px;
    margin: 18px;
}

#menu-nav {
    background-color: #0f5274;
    box-shadow: 0 0 10px 0 grey;
    padding: 5px;
    vertical-align: middle;
    line-height: 80px;
}

#menu-links li {
    display: inline-block;
    font-size: 20px;
}

#menu-nav a {
    text-decoration: none;
    color: white;
    padding: 30px 60px;
    transition-duration: 0.4s;
    border-radius: 2px;
}

#menu-nav a:hover {
    background-color: white;
    color: #0f5274;
    font-weight: bold;
    box-shadow: 0 0 10px 0 white;
}

#quem-sou-section {
    padding: 70px 0px;
    width: 70%;
    margin: auto;
}

#profile-image {
    border-radius: 100%;
    padding: 40px;
}

#projects-section {
    padding: 20px 70px 70px;
}

#redes-sociais-section {
    padding: 20px 70px 70px;
}

#redes-sociais-text {
    margin-bottom: 40px;
}

#network-links-list li, #projetos-links-list li {
    display: inline;
    margin: 0 10px;
}

.social-network-button, #projetos-links-list li a {
    display: inline-block;
    line-height: 50px;
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
    border-radius: 4px;
    transition-duration: 0.4s;
    width: 280px;
}

#lessons-learned {
    background-color: #036b52;
    border: 2px solid #036b52;
}

#linkedin-button {
    background-color: #2797cf;
    border: 2px solid #2797cf;
}

#linkedin-button:hover {
    background-color: transparent;
    color: #2797cf;
}

#linkedin-button:hover > #linkedin-image {
    filter: none;
}

#linkedin-image {
    filter: brightness(0) invert();
    height: 42px;
    padding-bottom: 5px;
    padding-right: 10px;
    vertical-align: middle;
    transition-duration: 0.4s;
}

#github-button {
    background-color: black;
    border: 2px solid black;
}

#github-button:hover {
    background-color: transparent;
    color: black;
}

#github-button:hover > #github-image {
    filter: none;
}

#github-image {
    filter: invert();
    height: 30px;
    padding-bottom: 7px;
    padding-right: 15px;
    vertical-align: middle;
    transition-duration: 0.4s;
}

#hackerrank-button {
    background-color: #2ec261;
    border: 2px solid #2ec261;
}

#hackerrank-button:hover {
    background-color: transparent;
    color: #2ec261;
}

#hackerrank-button:hover > #hackerrank-image {
    filter: none;
}

#hackerrank-image {
    filter: brightness(0) invert();
    height: 42px;
    padding-bottom: 5px;
    padding-right: 10px;
    vertical-align: middle;
    transition-duration: 0.4s;
}

#medalhas-section {
    padding: 20px 70px 70px;
}

#medalhas-section img {
    width: 600px;
}

#habilidades-section {
    padding: 20px 70px 70px;
}

footer {
    background-color: #0f5274;
    box-shadow: 0 0 10px 0 grey;
}

footer p {
    font-size: 14px;
    line-height: 30px;
    margin: 0;
    color: white;
}
