* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

body > div:nth-of-type(2n + 1) {
    background-color: #f5f5f5;
}

h1 {
    color: #0f5274;
}

h2 {
    color: #0f5274;
    padding: 50px;
    font-size: 26px;
}

p {
    font-size: 18px;
}

#menu-div {
    display: table-cell;
    width: 1%;
    height: 80px;
    background-color: #0f5274;
    box-shadow: 0 0 10px 0 grey;
    padding: 5px;
    vertical-align: middle;
}

#menu-links li {
    display: inline;
    font-size: 20px;
}

#menu-div a {
    display: table-cell;
    text-decoration: none;
    color: white;
    padding: 30px 60px;
    transition-duration: 0.4s;
    border-radius: 2px;
}

#menu-div a:hover {
    background-color: white;
    color: #0f5274;
    font-weight: bold;
    box-shadow: 0 0 10px 0 white;
}

#quem-sou-div {
    padding: 70px 0px;
    width: 70%;
    margin: auto;
}

#profile-image {
    border-radius: 100%;
    padding: 40px;
}

#redes-sociais-div {
    padding: 20px 70px 70px;
}

#redes-sociais-text {
    margin-bottom: 40px;
}

#network-links-list li {
    display: inline;
    margin: 0 10px;
}

.social-network-button {
    display: table-cell;
    line-height: 50px;
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
    border-radius: 4px;
    transition-duration: 0.4s;
    width: 280px;
}

#linkedin-button {
    background-color: #2797cf;
    border: 2px solid #2797cf;
}

#linkedin-button:hover {
    background-color: transparent;
    color: #2797cf;
}

#linkedin-button:hover > #linkedin-image {
    filter: none;
}

#linkedin-image {
    filter: brightness(0) invert();
    height: 42px;
    padding-bottom: 5px;
    padding-right: 10px;
    vertical-align: middle;
    transition-duration: 0.4s;
}

#github-button {
    background-color: black;
    border: 2px solid black;
}

#github-button:hover {
    background-color: transparent;
    color: black;
}

#github-button:hover > #github-image {
    filter: none;
}

#github-image {
    filter: invert();
    height: 30px;
    padding-bottom: 7px;
    padding-right: 15px;
    vertical-align: middle;
    transition-duration: 0.4s;
}

#hackerrank-button {
    background-color: #2ec261;
    border: 2px solid #2ec261;
}

#hackerrank-button:hover {
    background-color: transparent;
    color: #2ec261;
}

#hackerrank-button:hover > #hackerrank-image {
    filter: none;
}

#hackerrank-image {
    filter: brightness(0) invert();
    height: 42px;
    padding-bottom: 5px;
    padding-right: 10px;
    vertical-align: middle;
    transition-duration: 0.4s;
}

#medalhas-div {
    padding: 20px 70px 70px;
}

#medalhas-div img {
    width: 30%;
}

#habilidades-div {
    padding: 20px 70px 70px;
}