* {
  text-align: center;
}

body {
  background-color: beige;
}

h1 {
  font-size: 48px;
  line-height: 100px;
}

.color {
  display: inline-block;
  border: 1px solid black;
  width: 80px;
  height: 80px;
  margin: 0 20px 20px;
}

#board-size {
  width: 100px;
}

#buttons {
  display: flex;
  flex-flow: row;
  gap: 48px;
  justify-content: center;
  margin-bottom: 20px;
}

#pixel-board {
  display: flex;
  flex-flow: row wrap;
  width: 210px;
  margin: auto;
}

.pixel {
  background-color: white;
  width: 40px;
  height: 40px;
  border: 1px solid black;
}
